.morador-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.morador-card-img-admin {
    height: 100px;
    width: 100px;
    margin: 5px 10px;
}

.morador-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

@media (max-width: 768px) {

    .card-content {
        margin-left: 10px;
    }
}