.home-container {
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.equipe-pb {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.equipe-title-db {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-decoration: underline;
}

.equipe-descricao {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.img-dev {
    height: 150px;
    width: 150px;
}